@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{

        
        background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiIJ4A7_UPGFqcW5d10vQ9Zjkd4KHaTTsMVQ&usqp=CAU');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%100%;
          }
</style>
    
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

  